body {
  background-color: rgb(234, 249, 252);
}

#main, #events, #west {
  background-color: rgb(255, 255, 255);
}

#west {
  margin-top: 1%; 
  margin-bottom: 5%;
}

footer {
  background-color: rgb(62, 63, 58);
  color: white;
  word-spacing: 10px;
  letter-spacing: 3px;
  padding: 20px 0;
}

footer span {
  margin-left: 40%;
  
}
 
.navbar {
 background-color: rgb(16, 90, 165);
}

.navbar-header h1 {
 color: rgb(234, 249, 252)
}

#facebook {
  width: 150px;
  height: 37px;
}

#buy-tickets {
  text-decoration: none;
  color: rgb(230, 232, 142);
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 10px;
  background-color: rgb(16, 90, 165);
  border: 1px solid rgb(35, 31, 32);
  padding: 20px 45px;
  border-radius: 20px;
  margin: 20px 0;
}

#buy-tickets a:hover {
  color: rgb(230, 232, 142);
}

#buy-tickets:hover {
  background-color: rgb(27, 121, 214);
}

#bball {
  margin: 0 -2% 0 0
}
